!!!
%html(ng-app="Hanza")
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Hanza"
      %meta{:content => content_for?(:description) ? yield(:description) : "Hanza", :name => "description"}
        = stylesheet_link_tag 'application', :media => 'all'
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .row
          .span12
            = yield
        %footer
      / ! end of .container
    / ! end of #main
    - min = Rails.env.development? ? '.min' : ''
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular#{min}.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-route#{min}.js"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular-resource#{min}.js"
    = javascript_include_tag 'application'
